.ul_section {
  margin-bottom: 15px;
  .upload-list-title  {
    text-transform: uppercase;
  }
  @media only screen and (max-width: 767px) {
    margin-top: 10px;
  }
  select {
    border: 0;
    background-color: transparent;
    outline: none;
  }
}
.upload-list-title {
  margin-bottom: 20px;
}
.products__section {
  
  ul {
    padding: 0;
    list-style: none;
    .product_container {
      display: flex;
      flex-direction: row;
      padding: 50px 0;
      border-bottom: 1px solid #9c9c9c;
      @media only screen and (max-width: 767px) {
        flex-direction: column;
      }
      .image__section {
        @media only screen and (max-width: 767px) {
          max-width: 100%;
          margin-bottom: 10px;
        }
        img {
          max-width: 100%;
        }
      }
      .hl__product__desc {
        @media only screen and (max-width: 767px) {
          max-width: 100%;
        }
        line-height: 30px;
        .desc__item {
          label {
            margin: 0;
            font-weight: 700;
            text-transform: uppercase;
          }
        }
      }
      .hl__type {
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        @media only screen and (max-width: 767px) {
          max-width: 100%;
          display: block;
          margin: 10px 0;
        }
        span {
          padding: 7px;
          background-color: #d8d8d8;
          border-radius: 5px;
          font-size: 14px;
        }
      }
      .hl__actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @media only screen and (max-width: 767px) {
          max-width: 100%;
          display: block;
        }
        span {
          font-size: 35px;
          color: #8c8c8c;
        }
      }
    }
  }
}
